<header class="py-32 flex items-center border-b border-base-content/10 min-h-[80svh] text-center bg-base-200">
    <div class="container">
        <h1 class="h1 font-extrabold text-balance text-primary mx-auto mb-5">
            CAptain's Mate App: Documentation
        </h1>
        <div class="text-primary font-medium leading-loose text-lg mx-auto max-w-3xl mb-10">
            <p>
                Explore the documentation to better understand the logic and architecture of the CAptain's Mate iOS and Android app.
            </p>
        </div>

        <div class="grid sm:grid-cols-2 gap-5 max-w-90 mx-auto">
            <a class="btn btn-secondary" href="/4.3">
                Documentation
            </a>
            <a class="btn btn-outline" href="/guide">
                Guide to Docs
            </a>
            
        </div>
    </div>
</header>





