---
features:
    -
        title: Markdown extensions
        text: Give your markdown superpowers with accordions, codegroups, hints, and more.
    -
        title: Code extension
        text: Supercharge your code blocks with titles, tabs, collapsible sections, and one-click copy for improved developer experience.
    -
        title: Highly customisable
        text: Dok makes making themes fun again. No explosion of dark variants cluttering your markup.
    -
        title: Sync Github
        text: Want to host your markdown files on GitHub instead? Sync across repositories, branches, and even different organisations.
    -
        title: Modern
        text: A modern documentation starter kit using Tailwind CSS v4 and Alpine.js, with Blade components for total control.
    -
        title: Accessible
        text: We go to great lengths to ensure Dok is as accessible as possible with both automated and manual tests.

next:
    -
        title: "Setup your homepage"
        icon: icon/wrench
        description: "Set up your homepage by starting fresh or editing this template."
    -
        title: "Write your content"
        icon: icon/pen-nib
        description: "Write content directly to your site, or import from Github."
    -
        title: "Launch"
        icon: icon/rocket-launch
        description: "Launch your beautiful new documentation site!"
---

<header class="py-32 flex items-center border-b border-base-content/10 min-h-[80svh] text-center bg-base-200">
    <div class="container">
        <div class="absolute pointer-events-none -top-[500px] bg-gradient-to-b blur-2xl from-slate-500/40 h-[1000px] to-transparent w-[200px] -left-[100px] -rotate-45 z-10">
        </div>

       
        <h1 class="h1 font-semibold text-balance text-base-content mx-auto mb-5">
            CAptain's Mate App: Documentation
        </h1>
        <div class="text-base-content/80 font-medium leading-loose text-lg mx-auto max-w-3xl mb-10">
            <p>
                Explore the documentation to better understand the logic and architecture of the CAptain's Mate iOS and Android app.
            </p>
        </div>

        <div class="grid sm:grid-cols-2 gap-5 max-w-90 mx-auto">
            <a class="btn btn-primary" href="/4.3">
                Documentation
            </a>
            <a class="btn btn-outline" href="#">
                Guide to Docs
            </a>
            
        </div>
    </div>
</header>





