{{ fields }}
    <div
        x-init="$el.remove()"
        class="flex flex-col gap-y-1
            {{ switch(
                (width == '25') => 'md:col-span-3',
                (width == '33') => 'md:col-span-4',
                (width == '50') => 'md:col-span-6',
                (width == '66') => 'md:col-span-8',
                (width == '75') => 'md:col-span-9',
                () => 'md:col-span-12'
            )}}"
            type="{{ type }}"
    ">
        <div class="bg-base-content/20 animate-pulse radius-control max-w-4/12"><span class="label invisible">label</span></div>

        {{ if instructions }}
            <div class="bg-base-content/20 animate-pulse radius-control max-w-6/12"><span class="label invisible">label</span></div>
        {{ /if }}

        <div class="mt-2">
            {{ if type == 'text' || type == 'integer' }}
                <div class="bg-base-content/20 animate-pulse radius-control">
                    <div class="input invisible"></div>
                </div>
            {{ elseif type == 'textarea' }}
                <div class="bg-base-content/20 animate-pulse radius-control">
                    <textarea class="textarea invisible" rows="5"></textarea>
                </div>
            {{ elseif type == 'select' || type == 'dictionary' }}
                <div class="bg-base-content/20 animate-pulse radius-control">
                    <select class="select invisible" {{ type == 'dictionary' ?= 'multiple' }}>
                    {{ foreach:options as="option|label" }}
                        <option class="invisible">
                            {{ label !== null ? label : option }}
                        </option>
                    {{ /foreach:options }}
                    </select>
                </div>
            {{ elseif type == 'checkboxes' || type == 'radio' }}
                <div class="flex {{ inline ? 'flex-col sm:flex-row flex-wrap gap-2 sm:gap-10' : 'flex-col gap-2' }}">
                    {{ foreach:options as="option|label" }}
                        <div class="flex gap-2">
                            <div class="flex bg-base-content/20 border-base-content/20 {{ type == 'checkboxes' ? 'rounded-lg' : 'rounded-full' }} animate-pulse">
                                <span class="{{ type == 'checkboxes' ? 'checkbox' : 'radio' }} inline-block invisible"></span>
                            </div>
                            <div class="bg-base-content/20 animate-pulse rounded-xl"><span class="label label-description invisible">{{ label }} </span></div>
                        </div>
                    {{ /foreach:options }}
                </div>
            {{ elseif type == 'toggle' }}
                <div class="bg-base-content/20 w-12 h-8 rounded-full animate-pulse">
                    <div class="toggle invisible"></div>
                </div>
            {{ elseif type == 'files' || type == 'assets' }}
                    <div class="bg-base-content/20 animate-pulse radius-control">
                    <div class="fileinput invisible"></div>
                </div>
            {{ /if }}
        </div>
    </div>
{{ /fields }}
