<header class="sticky top-0 z-10 bg-base-100 w-full border-b border-base-content/10">
    <div class="py-4 sm:py-5 container border-x border-white/5">
        <div class="flex items-center">

            {{# Logo #}}
            <div class="w-full h-5 sm:h-7 flex max-w-[10rem] items-center mr-auto">
                <a href="{{ homepage }}" class="size-full">
                    {{ svg src="logo" class="h-full w-auto text-black dark:text-white" aria-hidden="true" }}
                    <span class="sr-only">Home</span>
                </a>
            </div>

            {{# Desktop navigation #}}
            <menu class="gap-6 hidden mr-5 lg:flex">
                {{ nav handle="primary_navigation" }}
                    <li>
                        <a href="{{ url }}" class="text-xs text-base-content/70 transition hover:bg-base-content/5 hover:text-base-content px-4 py-2 rounded-lg">
                            {{ title }}
                        </a>
                    </li>
                {{ /nav }}
            </menu>

            {{# Button trigger for the mobile navigation drawer #}}
            <button
                class="flex items-center gap-2 mr-5 text-base-content cursor-pointer lg:hidden"
                x-data
                @click="$dispatch('open-main-navigation')"
            >
                {{ svg src="icon/dots-three-vertical" class="size-6 text-base-content" aria-hidden="true" }}
                <span class="sr-only">Menu</span>
            </button>

            {{# Mobile navigation drawer #}}
            {{ push:popovers }}
                <x-drawer name="main-navigation">
                    <div class="p-10 pb-15">
                        <div class="flex flex-col grow transition duration-1000 starting:opacity-0 starting:translate-y-1">
                            <h2 class="text-lg mb-0 text-base-content font-medium mt-5">Menu</h2>
                            <x-divider class="mb-4 mt-3" />

                            <div class="flex flex-col grow w-full max-w-4xl mx-auto">
                                <menu class="flex flex-col gap-2">
                                    {{ nav handle="primary_navigation" }}
                                        <li>
                                            <a href="{{ url }}" class="py-2 text-base-content text-sm hover:text-base-content block">
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /nav }}
                                </menu>

                            </div>
                        </div>
                    </div>
                </x-drawer>
            {{ /push:popovers }}

            {{ partial:partials/theme_picker }}

        </div>
    </div>
</header>
