@theme {
  --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);
  --color-base-content: var(--color-base-content);
  --color-primary: var(--color-primary);
  --color-primary-content: var(--color-primary-content);

  --color-note: oklch(0.7224 0.129759 217.9549);
  --color-note-content: oklch(0% 0 0);

  --color-tip: oklch(0.7105 0.127578 181.6019);
  --color-tip-content: oklch(0% 0 0);

  --color-important: oklch(0.6696 0.1767 276.95);
  --color-important-content: oklch(0% 0 0);

  --color-error: oklch(0.7166 0.1844 8.19);
  --color-error-content: oklch(0% 0 0);

  --color-warning: oklch(0.8535 0.1744 88.77);
  --color-warning-content: oklch(0% 0 0);

  --color-tip: oklch(0.7105 0.127578 181.6019);
  --color-tip-content: oklch(0% 0 0);

  --color-success: oklch(77.963% 0.1658 161.532);
  --color-success-content: oklch(0% 0 0);

  /*
        Fields

        Used for the form field styles
    */
  --field-color: var(--color-base-content);
  --field-background: var(--field-background);
  --field-shadow: var(--field-shadow);
  --field-border-color: var(--field-border-color);

  /*
        Radius

        --radius-box:       Used for large elements; cards or boxes etc.
        --radius-control:   Used for medium elements; buttons, inputs, selects, etc.
        --radius-notch:     Used for small elements; checkbox, radio, label, etc.
    */
  --radius-box: var(--radius-box);
  --radius-control: var(--radius-control);
  --radius-notch: var(--radius-notch);

  /*
        Border

        --border-width: Used across the site for most border widths
    */
  --border-width: var(--border-width);

  /*
        Focus styles

        Used for the styles during :focus or :focus-visible
    */
  --focus-width: 3px;
  --focus-style: solid;
  --focus-offset: 1px;
  --focus-color: oklch(83.837% 0.08793 292.386 / 0.7);
}
