[data-theme="moonlight"] {
  --color-base-100: oklch(22% 0.02 283);
  --color-base-200: oklch(17.447% 0.0194 270.07);
  --color-base-300: oklch(14.551% 0.01358 269.443);
  --color-base-content: oklch(93.041% 0.01495 281.874);
  --color-primary: var(--color-cyan-500);
  --color-primary-content: oklch(25% 0.09 281.288);

  --field-color: var(--color-base-content);
  --field-background: --alpha(var(--color-white) / 5%);
  --field-shadow: none;
  --field-border-color: --alpha(var(--color-white) / 10%);

  --radius-box: 1rem;
  --radius-control: 0.4rem;
  --radius-notch: 0.4rem;

  --border-width: 1px;

  @variant contrast-more {
    --color-base-100: oklch(17.765% 0.01849 284.356);
    --color-base-200: oklch(14.678% 0.01778 272.55);
    --color-base-300: oklch(11.582% 0.01189 270.72);
    --color-base-content: oklch(99.116% 0.00422 271.371);
  }
}
