@layer prose.default {
  .prose {
    @variant prose-ul {
      margin-top: --spacing(6);
      margin-bottom: calc(--spacing(6) * 1.2);
      padding-left: --spacing(6);
      list-style-type: disc;
    }

    @variant prose-ol {
      margin-top: --spacing(6);
      margin-bottom: calc(--spacing(6) * 1.2);
      padding-left: --spacing(6);
      list-style: decimal;
    }

    @variant prose-li {
      margin-top: --spacing(2);
      margin-bottom: --spacing(2);
      padding-left: --spacing(2);

      &::marker {
        color: var(--prose-marker-color);
        font-weight: 500;
      }
    }

    @variant prose-dl {
      margin-top: --spacing(6);
      margin-bottom: calc(--spacing(6) * 1.2);
      padding-left: --spacing(5);
    }

    @variant prose-dt {
      font-weight: var(--font-weight-bold);
      color: var(--prose-strong-color);
    }

    @variant prose-dd {
      margin-left: --spacing(5);
      margin-bottom: --spacing(5);
    }
  }
}

@layer prose.children {
  .prose {
    /* TODO: Test this, this has weird behaviour */
    /* :where(ul ul, ol ol, ul ol, ol, ul):not(
      :where(.not-prose, .not-prose *)
    ) {
      margin-top: --spacing(4);
      margin-bottom: --spacing(10);
    } */

    /* Give paragraphs less space because we're in a list */
    :where(ul > li p, ol > li p):not(:where(.not-prose, .not-prose *)) {
      margin-top: --spacing(2);
      margin-bottom: --spacing(2);
    }

    /* Adds better spacing inbetween list items */
    :where(ul > li > :first-child, ol > li > :first-child):not(
      :where(.not-prose, .not-prose *)
    ) {
      margin-top: --spacing(7);
    }
  }
}
