@layer prose.default {
  .prose {
    @variant prose-img {
      margin-block: --spacing(10);
    }

    @variant prose-picture {
      margin-block: --spacing(10);
    }

    @variant prose-figure {
      margin-block: --spacing(10);
    }

    @variant prose-figcaption {
      text-align: center;
      font-style: italic;
      margin-top: --spacing(4);
    }
  }
}

@layer prose.children {
  .prose {
    /* Let's reset the margin on the element so it uses the outer container instead */
    :where(figure img, picture img):not(:where(.not-prose, .not-prose *)) {
      color: inherit;
    }
  }
}
