.h1 {
  @layer ui.components {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-tight);

    @media (width >= theme("breakpoint.md")) {
      font-size: var(--text-4xl);
    }

    @media (width >= theme("breakpoint.lg")) {
      font-size: var(--text-5xl);
    }
  }
}

.h2 {
  @layer ui.components {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-medium);

    @media (width >= theme("breakpoint.md")) {
      font-size: var(--text-3xl);
    }

    @media (width >= theme("breakpoint.lg")) {
      font-size: var(--text-4xl);
    }
  }
}

.h3 {
  @layer ui.components {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-tight);

    @media (width >= theme("breakpoint.md")) {
      font-size: var(--text-2xl);
    }

    @media (width >= theme("breakpoint.lg")) {
      font-size: var(--text-3xl);
    }
  }
}

.h4 {
  @layer ui.components {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-tight);

    @media (width >= theme("breakpoint.md")) {
      font-size: var(--text-xl);
    }

    @media (width >= theme("breakpoint.lg")) {
      font-size: var(--text-2xl);
    }
  }
}
