.radio {
  @layer ui.components {
    appearance: none;
    width: --spacing(6);
    height: --spacing(6);
    aspect-ratio: 1;
    background-color: var(--field-background);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--field-border-color);
    font-size: clamp(1rem, inherit, inherit);
    color: var(--field-color);
    box-shadow: var(--field-shadow);
    border-radius: 50%;
    cursor: pointer;
    background-size: 0 0;
    transition: outline-width 0.08s linear;

    &.input-invalid,
    &[aria-invalid="true"] {
      --field-border-color: var(--color-error);
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      clip-path: circle(50%);
      scale: 0.4;
      background-color: --alpha(var(--color-primary-content) / 80%);
    }

    &:checked {
      &:before {
        opacity: 1;
      }

      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    &:focus-visible {
      outline: var(--focus-width) var(--focus-style) var(--focus-color);
      outline-offset: var(--focus-offset);
    }
  }
}
